* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #111;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #014a7f;
    padding: 20px 0;
    color: white;
}

header .logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

.section {
    padding: 40px 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #014a7f;
}

p {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
}

#logo {
    max-width: 200px;
    max-height: 200px;
}

/* Ajustando o tamanho das imagens */
.image {
    max-width: 600px;  /* Limite máximo de 600px para a largura das imagens */
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    h2 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
        padding: 8px 16px;
    }

    /* Ajuste adicional para imagens em telas pequenas */
    .image {
        max-width: 100%;  /* No mobile, as imagens vão preencher 100% do contêiner */
    }
}

button {
    background-color: #014a7f;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #012f56;
}

footer {
    background-color: #014a7f;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1rem;
    color: #fff;
}
